<nav>
  <a href="/" class="logo">
    <img src="/images/logo.png" alt="Fresh Nest Upholstery Cleaning logo" height="42" />
    <div class="logo-text">
      <b>Fresh <span>Nest</span></b>
      <small>Upholstery Cleaning</small>
    </div>
  </a>
  <ul class="nav-links">
    <li><a href="/#services">Services</a></li>
    <li><a href="/#gallery">Before &amp; After</a></li>
    <li><a href="/#process">Process</a></li>
    <li><a href="/#contact" class="btn-book">Book Now</a></li>
  </ul>
</nav>
